
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Products - Test Project</title>
      
        {% block stylesheets %}
        <link href="{{ asset('/bootstrap-3.3.7/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
        {% endblock %}
        

    </head>
    <body>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="{{ asset('/pic/simb.png') }}" alt="logo">
                </div>
                                
                <div class="panel-body">
                
                    <h1>Products list</h1>
                    <small>The view is actual on {{"now"|date("Y-m-d H:i")}}</small>.
                    
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr class="info">
                                <td>
                                    <a href="?sort=id&dir=asc&page={{this_page}}"><span class="glyphicon glyphicon-triangle-top"></span></a> 
                                    <strong>Id</strong>
                                    <a href="?sort=id&dir=desc&page={{this_page}}"><span class="glyphicon glyphicon-triangle-bottom"></span></a> 
                                </td>
                                <td>
                                    <a href="?sort=name&dir=asc&page={{this_page}}"><span class="glyphicon glyphicon-triangle-top"></span></a> 
                                    <strong>Name</strong>
                                    <a href="?sort=name&dir=desc&page={{this_page}}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                </td>
                                <td>
                                    <a href="?sort=price&dir=asc&page={{this_page}}"><span class="glyphicon glyphicon-triangle-top"></span></a> 
                                    <strong>Price</strong>
                                    <a href="?sort=price&dir=desc&page={{this_page}}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                </td>
                                <td>
                                    <a href="?sort=date_create&dir=asc&page={{this_page}}"><span class="glyphicon glyphicon-triangle-top"></span></a> 
                                    <strong>Created</strong>
                                    <a href="?sort=date_create&dir=desc&page={{this_page}}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                </td>
                                <td>
                                    <strong>Actions</strong>
                                </td>
                            </tr>    
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>{% if product.dateCreate %}{{ product.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('products_show', { 'id': product.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('products_edit', { 'id': product.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>  
                            </tr>    
                            {% endfor %}
                        </tbody>
                    </table>    
                </div>
            </div> 
        </div>            

{% if max_pages > 1 %}
    <ul class="pagination pagination-sm">
        {# `«` arrow  #}
        <li {{ this_page == 1 ? 'class="disabled"' }}>
            <a href="{{ path('products_index', {page: this_page-1 < 1 ? 1 : this_page-1, sort: sort, dir: dir}) }}">«</a>
        </li>

        {# Render each page number #}
        {% for i in 1..max_pages %}
            <li {{ this_page == i ? 'class="active"' }}>
                <a href="{{ path('products_index', {page: i, sort: sort, dir: dir}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {# `»` arrow #}
        <li {{ this_page == max_pages ? 'class="disabled"' }}>
            <a href="{{ path('products_index', {page: this_page+1 <= max_pages ? this_page+1 : this_page, sort: sort, dir: dir}) }}">»</a>
        </li>
    </ul>
{% endif %}
                        
    <ul>
        <li>
            <a href="{{ path('products_new') }}">Create a new entry</a>
        </li>
    </ul>

    </body>

</html>










{# default template

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Datecreate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('products_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{% if product.dateCreate %}{{ product.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('products_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('products_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('products_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
#}